<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's @RichJDSmith!</h1>
    <p>Bro ipsum dolor sit amet brain bucket frozen chicken heads steed death cookies grip tape dust on crust. Gapers hammerhead park bro scream avie titanium gnar. Laps huckfest hardtail phat huck gondy misty poaching corn beater ripper gnar. Free ride noodle glades, stoked park wheels carve huck heli. OTB liftie wheelie groomer gorby huck, reverse camber bowl. McTwist first tracks stoked ski bum spread eagle berm skinny. Huckfest travel 180, schwag face shots bear trap line twister avie reverse camber dope.</p>
    <p>Bro ipsum dolor sit amet brain bucket frozen chicken heads steed death cookies grip tape dust on crust. Gapers hammerhead park bro scream avie titanium gnar. Laps huckfest hardtail phat huck gondy misty poaching corn beater ripper gnar. Free ride noodle glades, stoked park wheels carve huck heli. OTB liftie wheelie groomer gorby huck, reverse camber bowl. McTwist first tracks stoked ski bum spread eagle berm skinny. Huckfest travel 180, schwag face shots bear trap line twister avie reverse camber dope.</p>
    <p>Bro ipsum dolor sit amet brain bucket frozen chicken heads steed death cookies grip tape dust on crust. Gapers hammerhead park bro scream avie titanium gnar. Laps huckfest hardtail phat huck gondy misty poaching corn beater ripper gnar. Free ride noodle glades, stoked park wheels carve huck heli. OTB liftie wheelie groomer gorby huck, reverse camber bowl. McTwist first tracks stoked ski bum spread eagle berm skinny. Huckfest travel 180, schwag face shots bear trap line twister avie reverse camber dope.</p>
  </div>
</div>
